body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
    color: #444;
    background-color: #005A8C;
    width: 100%;
}

h1 {
    font-size: 41px;
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    text-align: center;
}

#get-the-app {
    padding: 2em;
}
#get-the-app img {
    display: block;
    margin: auto;
}

#content-row {
    margin: 1em 0 0.5em 0;
}

#content-row .panel{
    min-height: 178px;
}

blockquote {
    display: block;
    border-left: 0;
    padding: 0;
    margin-bottom: 2em;
    font-style: italic;
}
blockquote:before, blockquote:after {
    display: inline-block;
    font-style: normal;
    color: #ccc;
    font-size: 5em;
    line-height: 0.1em;
    margin: 0 0.1em;
}

blockquote:before {
    content:"\201C";
    vertical-align: -0.5em;
}
.quotee:before {
    margin-right: 0.2em;
    content:"\2013";
}
.rating {
    display: inline-block;
    width: 105px;
    height: 20px;
    background-image: url("img/star.png");
    background-size: 21px;
    background-repeat: repeat-x;
    text-indent: -9999px;
    vertical-align: 0.2em;
    margin: 0 0 0 1em;
}
.hidden {
    display: none;
}
#screenshots img {
    height: 606px;
}
.title-banner {
    background-color: #005A8C;
}
#people-say {
    overflow: hidden;
    min-height: 175px;
}
.description, .description h4  {
    text-align: left;
    color: #ffffff;
}
.description a {
    color: #E9C92E;
}